body {
  padding: 0;
  margin: 0;
  font-family: Poppins, "sans-serif";
  color: #0D0B5B;
  background-color: #FBF9FD;
}
body a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 2.5em;
  text-align: center;
  margin: 20px 0 0 0;
}

.navbar {
  z-index: 5;
  position: sticky;
  top: 0;
  background-color: #FBF9FD;
}
.navbar .icon__close {
  display: none;
}
.navbar .active__close {
  display: flex;
}
.navbar .navbar__burger {
  display: none;
}
.navbar .navbar__burger .navbar__button {
  border: none;
  background-color: inherit;
  font-size: 1.5em;
  padding: 25px;
}
.navbar .navbar__list {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 40px;
  font-size: 1em;
}
.navbar .navbar__list .navbar__link--strong {
  font-size: 1.3em;
  font-weight: 600;
}
.navbar .navbar__list .active {
  text-decoration: underline;
}

.blue {
  background: #0D0B5B;
  color: #FBF9FD;
}

.cta {
  padding: 10px 15px;
  border-radius: 25px;
  border: none;
  font-size: 1.1em;
  color: #FBF9FD;
  background-color: #fdbd5b;
  transform: scale(1);
  transition: transform 200ms ease-in-out;
}
.cta:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.btn-outlined {
  color: #fdbd5b;
  border: 1.6px solid #fdbd5b;
  background-color: #FBF9FD;
}

.link__text {
  color: #fdbd5b;
  text-decoration: underline;
}
.link__text:hover {
  color: #fdd8a0;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding: 0 25px 25px 25px;
  font-size: 0.8em;
}
.footer i {
  font-size: 2em;
}

.section__homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__homepage .home__title {
  text-align: center;
  color: #FBF9FD;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #0D0B5B;
  font-size: 2.5em;
  padding: 100px 0 100px 0;
  animation: comeFromBottom 500ms ease-in-out;
}
.section__homepage .home__title .home__title--blue {
  color: #0D0B5B;
}
.section__homepage .home__subtitle {
  text-align: center;
  font-weight: 400;
  font-size: 1.3em;
  animation: aparition 800ms ease-in-out;
}
.section__homepage .home__cta__container {
  display: flex;
  gap: 25px;
  padding: 30px;
  margin-bottom: 100px;
}
.section__homepage .arrow-down {
  font-size: 2em;
}
.section__homepage .animate-shake {
  animation: shakeWithDelay 500ms ease-in-out;
}
.section__homepage .btn-animation {
  animation: aparition 800ms ease-in-out;
}

.section__about {
  z-index: -1;
  transform: translateY(-50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 300px 0 100px 0;
  margin-bottom: 50px;
  color: #FBF9FD;
}
.section__about .about__image {
  border-radius: 10px;
}
.section__about h2 {
  margin: 20px 0 0 5px;
  font-size: 2.5em;
}
.section__about p {
  text-align: center;
  max-width: 1000px;
}
.section__about .about__skills--logos {
  display: flex;
  margin-top: 20px;
  gap: 30px;
  font-size: 3em;
}
.section__about .skill__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__about .skill__item .skill__title {
  font-size: 0.2em;
}

.project__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project__section .skills__list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  margin: 15px 0 35px 0;
}
.project__section .project__description {
  margin-top: 25px;
  text-align: center;
  max-width: 1000px;
}

.projects__list {
  margin-top: 60px;
  margin-bottom: 150px;
  padding: 0;
  list-style: none;
}
.projects__list .project__title {
  padding-top: 10px;
  text-align: center;
}
.projects__list .project__title:hover {
  color: #fdbd5b;
}

.badge {
  font-size: 0.7em;
  padding: 5px 20px;
  color: #FBF9FD;
  background-color: #0D0B5B;
  border-radius: 25px;
}

.section__contact {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0D0B5B;
  color: #FBF9FD;
  text-align: center;
}
.section__contact .contact__title {
  margin-bottom: 50px;
}
.section__contact .contact__phone {
  margin-top: 50px;
  max-width: 300px;
}
.section__contact .contact__phone .phone__number {
  font-weight: 700;
}

@media only screen and (max-width: 500px) {
  .navbar .navbar__burger {
    display: flex;
    justify-content: flex-end;
  }
  .navbar .active__burger {
    justify-content: space-between;
  }
  .navbar .navbar__list {
    display: none;
  }
  .active__navbar {
    height: 100vh;
  }
  .active__navbar .active__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .active__navbar .navbar__link--strong {
    display: none;
  }
  .section__homepage {
    padding: 0 40px;
  }
  .section__homepage .home__title {
    padding: 0;
    font-size: 2.2em;
  }
  .section__homepage .home__subtitle {
    font-size: 1em;
  }
  .section__homepage .home__cta__container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin-bottom: 30px;
  }
  .section__about {
    transform: translateY(0);
    padding: 100px 40px;
  }
  .section__about .about__image {
    order: 2;
  }
  .section__about .about__title {
    order: 1;
    font-size: 2.2em;
  }
  .section__about p {
    order: 3;
    font-size: 1em;
  }
  .section__about .about__skills__title {
    order: 4;
    font-size: 2.2em;
  }
  .section__about .about__skills--logos {
    order: 5;
  }
  .project__section {
    margin-bottom: 25px;
  }
  .project__section .project__description {
    max-width: 300px;
    font-size: 1em;
  }
  .cta {
    font-size: 0.8em;
  }
  .footer {
    font-size: 0.8em;
    position: static;
    justify-content: space-between;
  }
  .footer .footer__github {
    order: 1;
  }
  .footer .footer__legals {
    order: 2;
  }
  .footer .footer__lindekIn {
    order: 3;
  }
}
@keyframes shakeWithDelay {
  0%, 100% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(-15deg) scale(1.1);
  }
  50% {
    transform: rotate(13deg) scale(0.8);
  }
  75% {
    transform: rotate(-10deg) scale(1.1);
  }
}
@keyframes comeFromBottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes aparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
