$blue: #0D0B5B;
$background: #FBF9FD;
$action: #FFD166;

body{
  padding: 0;
  margin: 0;
  font-family: Poppins, "sans-serif";
  color: $blue;
  background-color: $background;
  a{
    text-decoration: none;
    color: inherit;
  }
}

.navbar{
  position: sticky;
  top: 0;
  background-color: $background;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 40px;
  font-size: 1em;
  .navbar__link--strong{
    font-size: 1.3em;
    font-weight: 600;
  }
  .active{
    text-decoration: underline  ;
  }
}

.cta{
  padding: 10px 15px;
  border-radius: 25px;
  border: none;
  font-size: 1.1em;
  color: $background;
  background-color: $action;
  transform: scale(1);
  transition: transform 200ms ease-in-out;
  &:hover{
    cursor: pointer;
    transform: scale(1.05);
  }
}
.btn-outlined{
  color: $action;
  border: 1.6px solid $action;
  background-color: $background;
}

.home__container{
  animation: comeFromBottom 700ms ease-in-out;

  display: flex;
  flex-direction: column;
  align-items: center;
  .home__title{
    padding: 140px;
    text-align: center;
    color: $background;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $blue;
    font-size: 2.5em;

    .home__title--blue{
      color: $blue;
    }
  }
  .home__subtitle{
    font-weight: 400;
    text-align: center;
    font-size: 1.3em;
  }
  .home__cta__container{
    display: flex;
    gap: 25px;
    padding: 30px;
    margin-bottom: 100px;
  }
  .arrow-down{
    font-size: 2em;
  }
}
@keyframes comeFromBottom {
  0%{
    opacity: 0;
    transform: translateY(100px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}