$blue: #0D0B5B;
$background: #FBF9FD;
$action: #fdbd5b;
$hoverLink: #fdd8a0;

body{
  padding: 0;
  margin: 0;
  font-family: Poppins, "sans-serif";
  color: $blue;
  background-color: $background;
  a{
    text-decoration: none;
    color: inherit;
  }
}
h2{
  font-size: 2.5em;
  text-align: center;
  margin: 0;
}
.navbar{
  z-index: 5;
  position: sticky;
  top: 0;
  background-color: $background;
  .icon__close{
    display: none;
  }
  .active__close{
    display: flex;
  }
  .navbar__burger{
    display: none;
    .navbar__button{
      border: none;
      background-color: inherit;
      font-size: 1.5em;
      padding: 25px;
    }
  }
  .navbar__list{
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 40px;
    font-size: 1em;
    .navbar__link--strong{
      font-size: 1.3em;
      font-weight: 600;
    }
    .active{
      text-decoration: underline ;
    }
  }

}
.cta{
  padding: 10px 15px;
  border-radius: 25px;
  border: none;
  font-size: 1.1em;
  color: $background;
  background-color: $action;
  transform: scale(1);
  transition: transform 200ms ease-in-out;
  &:hover{
    cursor: pointer;
    transform: scale(1.05);
  }
}
.btn-outlined{
  color: $action;
  border: 1.6px solid $action;
  background-color: $background;
}
.link__text{
  color: $action;
  text-decoration: underline;
  &:hover{
    color: $hoverLink;
  }
}
.footer{
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding: 0 25px 25px 25px;
  i{
    font-size: 2em;
  }
}

.section__homepage{
  display: flex;
  flex-direction: column;
  align-items: center;
  .home__title{
    text-align: center;
    color: $background;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $blue;
    font-size: 2.5em;
    padding: 100px 0 100px 0;
    animation: comeFromBottom 500ms ease-in-out;
    .home__title--blue{
      color: $blue;
    }
  }
  .home__subtitle{
    text-align: center;
    font-weight: 400;
    font-size: 1.3em;
    animation: aparition 800ms ease-in-out;
  }
  .home__cta__container{
    display: flex;
    gap: 25px;
    padding: 30px;
    margin-bottom: 100px;
  }
  .arrow-down{
    font-size: 2em;
  }
  .animate-shake{
    animation: shakeWithDelay 500ms ease-in-out ;
  }
  .btn-animation{
    animation: aparition 800ms ease-in-out;
  }
}
.section__about{
  z-index: -1;
  transform: translateY(-50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 300px 0 100px 0;
  margin-bottom: 50px;
  color: $background;
  .about__image{
    border-radius: 10px;
  }
  h2{
    margin: 20px  0 0 5px;
    font-size: 2.5em;
  }
  p{
    text-align: center;
    max-width: 1000px;
  }
  .about__skills--logos{
    display: flex;
    margin-top: 20px;
    gap: 30px;
    font-size: 3em;
  }
  .skill__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    .skill__title{
      font-size: 0.2em;
    }
  }
}
.project__section{
  display: flex;
  flex-direction: column;
  align-items: center;
  .skills__list{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    margin: 15px 0 35px 0;
  }
  .project__description{
    margin-top: 25px;
    text-align: center;
    max-width: 1000px;
  }
}

.projects__list{
  margin-top: 60px;
  margin-bottom: 150px;
  padding: 0;
  list-style: none;
  .project__title{
    text-align: center;
    &:hover{
      color: $action;
    }
  }
}
.badge{
  font-size: 0.7em;
  padding: 5px  20px;
  color: $background;
  background-color: $blue;
  border-radius: 25px;
}
@media only screen and (max-width: 500px){
  .navbar{
    .navbar__burger{
      display: flex;
      justify-content: flex-end;
    }
    .active__burger{
      justify-content: space-between;
    }
    .navbar__list{
      display: none;
    }
  }
  .active__navbar{
    height: 100vh;
    .active__list{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .navbar__link--strong{
      display: none;
    }
  }
  .section__homepage{
    padding: 0 40px;
    .home__title{
      padding: 0;
      font-size: 2.2em;
    }
    .home__subtitle{
      font-size: 1em;
    }
    .home__cta__container{
      flex-direction: column;
      align-items: center;
      gap: 10px;
      padding: 10px;
      margin-bottom: 30px;
    }
  }
  .section__about{
    transform: translateY(0);
    padding: 100px 40px;
    .about__image{
      order: 2;
    }
    .about__title{
      order: 1;
      font-size: 2.2em;
    }
    p{
      order: 3;
      font-size: 1em;
    }
    .about__skills__title{
      order: 4;
      font-size: 2.2em;
    }
    .about__skills--logos{
      order: 5;
    }
  }
  .cta{
    font-size: 0.8em;
  }
  .footer{
    justify-content: space-between;
    .footer__github{
      order: 1;
    }
    .footer__legals{
      order: 2;
    }
    .footer__lindekIn{
      order: 3;
    }
  }
}


@keyframes shakeWithDelay {
  0%, 100%{
    transform: rotate(0deg) scale(1);

  }
  25%{
    transform: rotate(-15deg) scale(1.1);
  }
  50%{
    transform: rotate(13deg) scale(0.8);
  }
  75%{
    transform: rotate(-10deg) scale(1.1);
  }
}
@keyframes comeFromBottom {
  0%{
  transform: translateY(100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes aparition {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
     }
}